body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "yellow yellow"
        "blue orange"
        "blue red"
        "blue green";
}

#yellow {
    grid-area: yellow;
}

#blue {
    grid-area: blue;
}

#orange {
    grid-area: orange;
}

#red {
    grid-area: red;
}

#green {
    grid-area: green;
}

section ul {
    display: flex;
}

section li {
    flex-grow: 1;
}

#yellow li:first-child {
    flex-grow: 3;
}

#red ul {
    flex-direction: row-reverse;
}